<div class="form-background">
  <%= form_for(:session, url: login_path) do |f| %>
      <table class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
          <th id="table-title" class="mdl-data-table__cell--non-numeric">Login</th>
        </tr>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><%= f.label :username %></th>
          <th class="mdl-data-table__cell--non-numeric"><%= f.label :password %></th>
          <th class="mdl-data-table__cell--non-numeric"><%= f.label :submit %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= f.text_field :username %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= f.password_field :password %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= f.submit "Login" %></td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>