<div class="dashboard">
  <article>

    <h1 id="title">Admin Dashboard</h1>

    <div class="demo-grid-3 mdl-grid">

          <div class="mdl-cell mdl-cell--4-col"><div id="whole-card" class="mdl-card mdl-shadow--2dp demo-card-wide">
                <div class= "mdl-card__title">
                  <h3 class="mdl-card__title-text">Create</h3>
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <ul>
                  <li><%= link_to "Create a Trip", new_admin_trip_path, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %></li>
                  <li><%= link_to "Create an Activity", '#', class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %></li>
                  <li><%= link_to "Create a Destination", '#', class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %></li>
                  </ul>
                </div>
             </div>
          </div>
      <div class="mdl-cell mdl-cell--4-col">
        <div id="whole-card" class="mdl-card mdl-shadow--2dp demo-card-wide">
            <div class= "mdl-card__title">
              <h3 class="mdl-card__title-text">Edit</h3>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <ul>
              <li><%= link_to "Edit Admin Profile", edit_user_path(@user), class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %></li>
              <li><%= link_to "Edit an Activity", '#', class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %></li>
              <li><%= link_to "Edit a Destination", '#', class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %></li>
              </ul>
            </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <div id="whole-card" class="mdl-card mdl-shadow--2dp demo-card-wide">
          <div class= "mdl-card__title">
            <h3 class="mdl-card__title-text">View</h3>
          </div>
          <div class="mdl-card__actions mdl-card--border">
          <ul>
            <li><%= link_to "View All Orders", admin_orders_path, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %></li>
            <li><%= link_to "View All Trips", admin_trips_path, class: "mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </article>

</div>