<table id="order-table" class="mdl-data-table mdl-js-data-table"> '
  <thead>
  <tr id="filter">
    <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Filter Status - Ordered',   {controller: 'orders', action: 'index', :status => 0 }  %></td>
    <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Filter Status - Paid', {controller: 'orders', action: 'index', :status => 1 }  %></td>
    <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Filter Status - Cancelled',      {controller: 'orders', action: 'index', :status => 2 }  %></td>
    <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Filter Status - Completed', {controller: 'orders', action: 'index', :status => 3 }  %></td>
    <td class="mdl-data-table__cell--non-numeric"><%= link_to 'Filter Status - All', admin_orders_path %></td>
  </tr>
  <tr>
    <th class="mdl-data-table__cell--non-numeric"></th>
    <th>Order Number</th>
    <th>Total Cost</th>
    <th class="mdl-data-table__cell--non-numeric">Date Ordered</th>
    <th class="mdl-data-table__cell--non-numeric">Status</th>
  </tr>
  </thead>
  <tbody>
  <%@orders.each do|order| %>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= link_to "View Order", admin_order_path(order) %></td>
          <td><%= order.id %></td>
          <td><%= number_to_currency(order.sum_total_cost) %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= (order.created_at).to_formatted_s(:long) %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= order.status %></td>
        </tr>
  <% end %>
  </tbody>
</table>


