<table id="order-table" class="mdl-data-table mdl-js-data-table"> '
  <thead>
  <tr>
    <th>Order Number</th>
    <th class="mdl-data-table__cell--non-numeric">Name</th>
    <th class="mdl-data-table__cell--non-numeric">Address</th>
    <th class="mdl-data-table__cell--non-numeric">Trip</th>
    <th>Quantity</th>
    <th>Total Cost</th>
    <th class="mdl-data-table__cell--non-numeric">Date Ordered</th>
    <th class="mdl-data-table__cell--non-numeric">Status</th>
    <th class="mdl-data-table__cell--non-numeric">Change Status</th>
  </tr>
  </thead>
  <tbody>
      <% @order.order_trips.each do |order_trip| %>
      <tr>
        <td><%= @order.id %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= @order.user.full_name %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= @order.user.address %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= link_to order_trip.trip.name, trip_path(order_trip.trip) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= order_trip.quantity %></td>
        <td><%= number_to_currency(order_trip.trip.total_cost * order_trip.quantity) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= (order_trip.trip.created_at).to_formatted_s(:long) %></td>
        <td class="mdl-data-table__cell--non-numeric"><%= @order.status %></td>
        <td class="mdl-data-table__cell--non-numeric">
          <%= form_for @order, url: admin_order_path(@order) do |f| %>
              <%= select(:order, :status, [['Ordered',0],['Paid',1],['Cancelled',2],['Completed',3]]) %>
              <%= f.submit %>
        <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>