<div class="form-background">
  <%= form_for @user do |f| %>
      <table id = "whole-card" class="mdl-data-table mdl-js-data-table">
        <thead>
        <tr>
          <th id="table-title" class="mdl-data-table__cell--non-numeric">Update Profile</th>
          <th id="table-title" class="mdl-data-table__cell--non-numeric"></th>
        </tr>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><%= f.label :username %></th>
          <th class="mdl-data-table__cell--non-numeric"><%= f.label :password %></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= f.text_field :username %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= f.password_field :password %></td>
        </tr>
        <tr>
          <th class="mdl-data-table__cell--non-numeric"><%= f.label :full_name %></th>
          <th class="mdl-data-table__cell--non-numeric"><%= f.label :address %></th>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><%= f.text_field :full_name %></td>
          <td class="mdl-data-table__cell--non-numeric"><%= f.text_field :address %></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric"></td>
          <td class="mdl-data-table__cell--non-numeric"><%= f.submit %></td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>
