<div class="homepage">
  <div class="home-picture">
  </div>
  <div class="us-and-reviews">
     <div id="homepage-icons" class="demo-grid-2 mdl-grid">
       <div class="mdl-cell mdl-cell--4-col">
         <div class="icons"><a href="<%=destinations_path%>"><i class="icon-globe"></i></a></div>
         <div class="destination-text"><span>The Destination</span></div>
       </div>
       <div class="mdl-cell mdl-cell--4-col">
         <div class="icons"><a href="<%=activities_path%>"> <i class="icon-parachute"></i></a></div>
         <div class="activity-text"><span>The Activity</span></div>
       </div>
       <div class="mdl-cell mdl-cell--4-col">
         <div class="icons"><a href="<%=trips_path%>"> <i class="icon-airplane"></i></a></div>
         <div class="trip-text"><span>The Trip</span></div>
       </div>
     </div>
    </div>
    <div class="home-about-us">
      <div class="home-mission">
        <div class="bubble">
          <h4>What is Endangerous Outfitters?</h4>
          <p><strong>Endangerous Outfitters</strong> is a <em>world-class guiding company</em> <br/>that provides tours <em>to the most remote places</em> on Earth <br/>
            while providing <strong>high-end luxuries</strong> and <strong>local culture</strong> every step of the way.<br><br>We can transport you from suburbia to Siberia <br/>to <strong>hike among
            tigers</strong>, <strong>hang glide through an F3 tornado</strong> on the American plains, <br/>or <strong>kayak down Angels Falls</strong> in South America.<br><br>
            <strong>Go ahead and be endangerous:</strong> start your adventure today by browsing our <%= link_to "Destinations", destinations_path, class: "welcome-links" %>, <%= link_to "Activities", activities_path, class: "welcome-links" %>, or <%= link_to "Trips", trips_path, class: "welcome-links" %>.
          </p>
        </div>
      </div>
      <div class="bubble">
        <h4>Trip Reviews</h4>
        <div class="bubble-text">
          <div class="demo-grid-1 mdl-grid">

            <% @reviews.each do |review| %>

                <div class="mdl-cell mdl-cell--4-col"><div id="whole-card" class="mdl-card mdl-shadow--2dp demo-card-wide" class="review-card">

                  <div class= "mdl-card__title">
                    <h3 class="mdl-card__title-text"><%= review.name %></h3>
                  </div>
                  <div id = "<%= review.name.split.join("-").downcase %>-card">
                  </div>
                  <div class="mdl-card__supporting-text">
                    <%= review.content %>
                  </div>
                  <div class="mdl-card__actions mdl-card--border">

                    <%= review.occupation %>
                  </div>
                </div></div>

            <% end %>
          </div>
        </div>
      </div>
      <div class="bubble">
        <h4>Who We Are</h4>
        <div class="bubble-text">
          <div class="demo-grid-4 mdl-grid">
            <div class="mdl-cell mdl-cell--3-col">
              <div id="alex" class="mdl-card mdl-shadow--2dp demo-card-square">
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">Alex Tideman</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Turing School of Software and Design
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                     href="https://github.com/alex-tideman">
                    View GitHub
                  </a>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
              <div id="max" class="mdl-card mdl-shadow--2dp demo-card-square">
                <div class="mdl-card__title mdl-card--expand">
                  <h2 id="max-name" class="mdl-card__title-text">Max Millington</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Turing School of Software and Design
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                     href="https://github.com/maxmillington">
                    View GitHub
                  </a>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
              <div id="david" class="mdl-card mdl-shadow--2dp demo-card-square">
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">David Shim</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Turing School of Software and Design
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                     href="https://github.com/dsshim">
                    View GitHub
                  </a>
                </div>
              </div>
            </div>
            <div class="mdl-cell mdl-cell--3-col">
              <div id="adam" class="mdl-card mdl-shadow--2dp demo-card-square">
                <div class="mdl-card__title mdl-card--expand">
                  <h2 class="mdl-card__title-text">Adam Caron</h2>
                </div>
                <div class="mdl-card__supporting-text">
                  Turing School of Software and Design
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                     href="https://github.com/adamcaron">
                    View Github
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
