<table id="order-table" class="mdl-data-table mdl-js-data-table"> '
  <thead>
  <tr>
    <th class="mdl-data-table__cell--non-numeric"></th>
    <th>Order Number</th>
    <th>Total Cost</th>
    <th class="mdl-data-table__cell--non-numeric">Date Ordered</th>
    <th class="mdl-data-table__cell--non-numeric">Status</th>
  </tr>
  </thead>
  <tbody>
  <%@orders.each do|order| %>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><%= link_to "View Order", order_path(order) %></td>
      <td><%= link_to order.id, order_path(order) %></td>
      <td><%= number_to_currency(order.sum_total_cost) %></td>
      <td class="mdl-data-table__cell--non-numeric"><%= (order.created_at).to_formatted_s(:long) %></td>
      <td class="mdl-data-table__cell--non-numeric"><%= order.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>
