<article>
  <h2>Create a New Trip</h2>
    <%= form_for @trip do |f| %>
      <%= f.label :name, "Trip Name:" %>
      <%= f.text_field :name %>
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description %>
      <%= f.label :trip_cost, "Price:" %>
      <%= f.number_field :trip_cost %>
      <%= f.label :destination_id, "Destination:" %>
      <%= select_tag(:destination_id, options_for_select( Destination.all.map{ |d| ["#{d.continent}", d.id] } )) %>
      <%= f.label :destination_id, "Activity:" %>
      <%= select_tag(:activity_id, options_for_select( Activity.all.map{ |a| ["#{a.name}", a.id] } )) %>
      <%= f.file_field :image_url %>
      <%= f.submit "Create Trip" %>
  <% end %>
</article>