<article>
  <h1 id="title"><%= @trip.name %></h1>

  <div class = "trip-img">
    <%= image_tag @trip.image, class: "trip-show-card" %>
  </div>

  <div class="mdl-grid">
    <div class="description mdl-cell mdl-cell--7-col">
      <p id="trip-description">
        <%= @trip.description %>
      </p>

      <h3 class="trip-subheader"><%= @trip.trip_cost %></h3>
    </div>

    <div class="mdl-cell mdl-cell--5-col">
      <%= link_to "Edit Trip", edit_admin_trip_path(trip_id: @trip.id), class: "call-to-action" %>
    </div>
  </div>
</article>