<div class="cart">
  <div class="cart-picture">
    <img>
  </div>
  <div class="demo-grid-2 mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <table id="cart-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <tbody>

        <% @cart_trips.each do |trip| %>
            <tr>
              <td class="quantity"><%= trip.quantity %><%= button_to "-", decrement_cart_trip_path(trip) %></button>
                <%= button_to "+", increment_cart_trip_path(trip) %></td>
              <td id="trip-link" class="name mdl-data-table__cell--non-numeric"></button><%= link_to "#{trip.name}", trip_path(trip) %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= trip.destination.continent %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= trip.activity.name %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= trip.extras.map(&:name).join(' ') %></td>
              <td><%= trip.total_cost %></td>
              <td id="delete-link"><%= link_to "Remove", cart_trip_path(trip), method: :delete%></td>
            </tr>
        <% end %>
        </tbody>
        <thead>
        <tr>
          <th>Quantity</th>
          <th>Name</th>
          <th class="mdl-data-table__cell--non-numeric">Location</th>
          <th>Activity</th>
          <th class="mdl-data-table__cell--non-numeric">Extras</th>
          <th>Price</th>
          <th></th>
        </tr>
        </thead>
      </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <table id="cart-total" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
          <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <% row_total_cost = @cart_trips.map do |trip| %>
                <% trip.quantity * trip.total_cost %>
            <% end %>
            <%= row_total_cost.reduce(:+) %>
          </td>
        </tr>
        <tr>
          <td id="checkout" class="mdl-data-table__cell--non-numeric">Check Out</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>