<div class="cart">
  <div class="cart-picture">
    <img>
  </div>
  <div class="demo-grid-2 mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <table id="cart-table" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
          <th>Quantity</th>
          <th>Name</th>
          <th class="mdl-data-table__cell--non-numeric">Location</th>
          <th>Activity</th>
          <th class="mdl-data-table__cell--non-numeric">Extras</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>

        <% @cart_trips.each do |trip| %>
            <tr>
              <td class="quantity">1</td>
              <td class="name mdl-data-table__cell--non-numeric"><%= trip.name %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= trip.destination.continent %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= trip.activity.name %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= trip.extras.map(&:name) %></td>
              <td><%= trip.total_cost %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <table id="cart-total" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
        <thead>
        <tr>
          <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>$250,890</td>
        </tr>
        <tr>
          <td id="checkout" class="mdl-data-table__cell--non-numeric">Check Out</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>