<div class="cart">
  <div class="cart-picture">
    <img>
  </div>
  <h3>Cart</h3>
  <div class="cart-container">
  <div class="demo-grid-2 mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
      <table id="cart-table" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
          <th id="quantity-col">Quantity</th>
          <th id="name-col">Name</th>
          <th id="continent-col" class="mdl-data-table__cell--non-numeric">Location</th>
          <th id="activity-col">Activity</th>
          <th id="extras-col" class="mdl-data-table__cell--non-numeric">Extras</th>
          <th id="price-col">Price</th>
          <th id="action-col">Action</th>
        </tr>
        </thead>
        <tbody>

        <% @cart_trips.each do |trip| %>
            <tr>
              <td><%= trip.quantity %></td>
              <td class="name mdl-data-table__cell--non-numeric"><%= trip.name %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= trip.destination.continent %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= trip.activity.name %></td>
              <td class="mdl-data-table__cell--non-numeric"><%= trip.extras.map(&:name).join(' ') %></td>
              <td><%= trip.total_cost %></td>
              <td class="mdl-data-table__cell--non-numeric"> Edit Delete </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="mdl-cell mdl-cell--6-col">
      <table id="cart-total" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
        <tr>
          <th>Total Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <% row_total_cost = @cart_trips.map do |trip| %>
                <% trip.quantity * trip.total_cost %>
            <% end %>
            <%= row_total_cost.reduce(:+) %>
          </td>
        </tr>
        <tr>
          <td id="checkout" class="mdl-data-table__cell--non-numeric"><%= link_to "Checkout", orders_path, method: :post %></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>
</div>

