<!DOCTYPE html>
<html>
<head>
  <title>EndangerousOutfitters</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<div id="container">
    <%= render partial: "shared/header" %>
    <body>

    <%= yield %>
    </body>
</div>
</html>
