<!DOCTYPE html>
<html>
<head>
  <title>EndangerousOutfitters</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= stylesheet_link_tag    'activities'%>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ultra|Abril+Fatface' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>
    <header id="nav-bar" class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <nav class="mdl-navigation">
          <span class="mdl-navigation__link"><%= link_to "Login", cart_path, class: "nav-bar-link" %></span>
          <span class="mdl-navigation__link"><%= link_to "Register", cart_path, class: "nav-bar-link" %></span>
        </nav>
        <h1 class="mdl-layout-title"><%= link_to "Endangerous Outfitters", root_path, id: "logo" %></h1>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">
          <div id="cart-count" class="material-icons mdl-badge" data-badge="1"><span class="mdl-navigation__link"><%= link_to "Cart", cart_path, class: "nav-bar-link" %></span></div>
        </nav>
      </div>
    </header>
    <body>
    <%= yield %>
    </body>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer__left-section">
        <div class="footer-text">
        </div>
      </div>
    </footer>
</html>
