<!DOCTYPE html>
<html>
<head>
  <title>EndangerousOutfitters</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Yellowtail' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<div id="container">
    <header id="nav-bar" class="mdl-layout__header mdl-layout__header--transparent">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <nav class="mdl-navigation">
          <% if current_admin? %>
              <span class="mdl-navigation__link"><%= link_to current_user.username, admin_dashboard_path, class: "nav-bar-link" %></span>
              <span class="mdl-navigation__link"><%= link_to "Logout", logout_path, method: :delete, class: "nav-bar-link" %></span>
          <% elsif current_user %>
              <span class="mdl-navigation__link"><%= link_to current_user.username, profile_path, class: "username-link" %></span>
              <span class="mdl-navigation__link"><%= link_to "Logout", logout_path, method: :delete, class: "nav-bar-link" %></span>
          <% else %>
              <span class="mdl-navigation__link"><%= link_to "Login", login_path, class: "nav-bar-link" %></span>
              <span class="mdl-navigation__link"><%= link_to "Register", new_user_path, class: "nav-bar-link" %></span>
          <% end %>
        </nav>
        <h1 class="mdl-layout-title"><%= link_to "Endangerous Outfitters", root_path, id: "logo" %></h1>
        <!-- Add spacer, to align navigation to the right -->
        <div class="mdl-layout-spacer"></div>
        <!-- Navigation -->
        <nav class="mdl-navigation">

          <span class="mdl-navigation__link"><%= link_to "Destinations", destinations_path, class: "nav-bar-link" %></span>
          <span class="mdl-navigation__link"><%= link_to "Activities", activities_path, class: "nav-bar-link" %></span>
          <span class="mdl-navigation__link"><%= link_to "Trips", trips_path, class: "nav-bar-link" %></span>
          <div id="cart-count" class="material-icons mdl-badge" data-badge="<%= cart.data.values.reduce(:+) %>"><span class="mdl-navigation__link"><%= link_to "Cart", cart_path, class: "nav-bar-link" %></span></div>
        </nav>
      </div>
      <div class="flash">
        <% flash.each do |type, msg| %>
            <%= content_tag  :div, msg, class: "flash_#{type}"%>
        <% end %>
      </div>
    </header>
    <body>

    <%= yield %>

    </body>
</div>
</html>
